@import './styles/fonts.css';
@import './styles/variables.css';
@import './styles/reset.css';

#root {
  max-width: var(--measure);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0 var(--space-md);
}
